@use "reset";
@use "themes/dark";
@use "themes/normal";
@use "themes/orange";
@use "variables/global";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* path color */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* plag rounding */
    border: 2px solid var(--primary-color);  /* padding around plag */
}
