@use "reset";
@use "themes/dark";
@use "themes/normal";
@use "themes/orange";
@use "variables/global";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);        /* path color */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned);    /* plag color */
    border-radius: 20px;       /* plag rounding */
    border: 1px solid var(--accent-redesigned);  /* padding around plag */
}

.app *::-webkit-scrollbar {
    width: 12px;               /* scrollbar width */
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--card-bg);        /* path color */
}

.app *::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* plag color */
    border-radius: 20px;       /* plag rounding */
    border: 2px solid var(--primary-color);  /* padding around plag */
}
