@use 'sass:map';

$breakpoints: (
        xs: 320px,
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2xl: 1536px,
);

@mixin respond-up($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: #{$value}) {
      @content;
    }
  }

 @else {
    @warn "No value found for breakpoint `#{$breakpoint}`";
  }
}

@mixin respond-down($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: #{$value}) {
      @content;
    }
  }

 @else {
    @warn "No value found for breakpoint `#{$breakpoint}`";
  }
}