@use '@/app/styles/media' as media;

.ArticleAdditionalInfo {
    padding: 0;
    flex-direction: row;
    align-items: center;
}

@include media.respond-down(sm) {
    .ArticleAdditionalInfo {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
}

@include media.respond-up(lg) {
    .ArticleAdditionalInfo {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
}