@use '@/app/styles/media' as media;

.ArticlesPage {
    min-height: 100%;

    .list {
        margin-top: 30px;
    }
}

.layout {
    display: flex !important;
    flex-direction: row;
}

@include media.respond-down(lg) {
    .layout {
        flex-direction: column;
    }
    .avatarBlock {
        display: flex;
    }

}
