.app_candy_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    /* redesigned */
    --dark-bg-redesigned: #ffd6fe;
    --bg-redesigned: #ef7fdc;
    --light-bg-redesigned: #f291e5;
    --text-redesigned: #1B1311;
    --hint-redesigned: #c05ddc;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #5268fa;
    --icon-redesigned: #9448f0;
    --accent-redesigned: #831dff;

    /* skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    /* code */
    --code-bg: #fff;

    /* card */
    --card-bg: #d5d5d7;

    /* listbox */
    --listbox-bg: #d5d5d7;
}
