@use '@/app/styles/media' as media;

.MainLayout {
  height: 100vh;
  display: grid;
  grid-template-areas:
            'sidebar content rightbar';
  grid-template-columns: min-content 1fr 100px;
  overflow: hidden auto;
  width: 100vw;
}

.sidebar {
  grid-area: sidebar;
  padding: 24px;
  padding-right: 0;
  max-width: 284px;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 24px;
  padding-right: 0;
  width: 100%;
}

.rightbar {
  grid-area: rightbar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightbar,
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.toolbar {
  height: 100%;
  width: 100%;
}

@include media.respond-down(lg) {
  .sidebar, .content {
    padding: 12px;
  }

  .toolbar, .rightbar{
    width: 0;
  }

  .content {
    width: calc(100vw - var(--sidebar-width-collapsed));
  }

}