@use '@/app/styles/media' as media;

.MainLayout {
  display: grid;
  grid-template-areas:
            'left content right';
  grid-template-columns: min-content 1fr min-content;
}


.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 0 16px;
  width: 100%;
}

.right{
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 32px;
  height: fit-content;
}

@include media.respond-down(lg) {
  .left,
  .right {
    position: static;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    order: 1;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .content {
    order: 2;
    padding: 0;
  }
}